/* Catppuccin palette */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color borders @mauve;
@define-color text @borders;
@define-color focused #cba6f7;
@define-color focused2 #f2cdcd;
@define-color color1 #313244;
@define-color color2 #f2cdcd;
@define-color urgent #B05A5A;

@define-color workspace-fg @borders;
@define-color mpris-playing @green;
@define-color mpris-idle @surface0;

* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-height: 0;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

#custom-rofi,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 3pt;
}

window#waybar {
  color: @text;
  background: @surface0;
  font-family: JetBrainsMono Nerd Font Mono;
  font-size: 12pt;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3pt;
}

#workspaces button {
  color: @yellow;
  border: 2pt solid @yellow;
  margin-right: 3pt;
  min-width: 15pt;
  padding: 0 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: @rosewater;
  border-color: #d3869b;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: @green;
  border-color: @green;
}

#workspaces button.urgent {
  color: @red;
  border-color: @red;
}

#custom-rofi {
  color: @surface1;
  border: 2pt solid #458588;
  background: #83a598;
  padding: 0 6pt;
}

#window {
  border-bottom: 2pt solid @maroon;
}

#tray {
  border-bottom: 2pt solid @surface2;
  background: @surface1;
  padding: 0 6pt;
}

#disk {
  border-bottom: 2pt solid @red;
}

#cpu {
  border-bottom: 2pt solid @peach;
}

#custom-cpu_temp {
  border-bottom: 2pt solid @green;
}

#custom-cpu_temp.critical {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#custom-cpu_temp.unknown {
  color: @surface2;
  border-bottom: 2pt solid @surface2;
}

#backlight {
  border-bottom: 2pt solid @yellow;
}

#custom-memory {
  border-bottom: 2pt solid @teal;
}

#pulseaudio {
  border-bottom: 2pt solid @sky;
}

#pulseaudio.muted {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#battery {
  border-bottom: 2pt solid @green;
}

#battery.critical {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#battery.critical,
#battery.charging.critical {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#battery.warning,
#battery.charging.warning {
  color: @maroon;
  border-bottom: 2pt solid @maroon;
}

#clock {
  border-bottom: 2pt solid @green;
}

#network {
  border-bottom: 2pt solid @flamingo;
}

#mode,
#submap {
  color: #222222;
  border: 2pt solid #458588;
  background: #83a598;
  padding: 0 4.5pt;
}
