/* Catppuccin palette */
@define-color red #cc241d;
@define-color yellow #d79921;
@define-color green #98971a;
@define-color blue #458588;
@define-color text #3bdbb2;
@define-color base #282828;

@define-color borders @text;
@define-color text @borders;
@define-color focused #cba6f7;
@define-color focused2 #f2cdcd;
@define-color color1 #313244;
@define-color color2 #f2cdcd;
@define-color urgent #B05A5A;

@define-color workspace-fg @borders;
@define-color mpris-playing @green;
@define-color mpris-idle #928374;

* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-height: 0;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

#custom-rofi,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 3pt;
}

window#waybar {
  color: @text;
  background: #383838;
  font-family: JetBrainsMono Nerd Font Mono;
  font-size: 12pt;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3pt;
}

#workspaces button {
  color: @yellow;
  border: 2pt solid @yellow;
  margin-right: 3pt;
  min-width: 15pt;
  padding: 0 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: @b16286;
  border-color: #d3869b;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: @green;
  border-color: @green;
}

#workspaces button.urgent {
  color: @red;
  border-color: @red;
}

#custom-rofi {
  color: @surface1;
  border: 2pt solid #458588;
  background: #83a598;
  padding: 0 6pt;
}

#window {
  border-bottom: 2pt solid @maroon32302f;
}

#tray {
  border-bottom: 2pt solid @surface2;
  background: @surface1;
  padding: 0 6pt;
}

#disk {
  border-bottom: 2pt solid @red;
}

#cpu {
  border-bottom: 2pt solid #d3869b;
}

#custom-cpu_temp {
  border-bottom: 2pt solid @green;
}

#custom-cpu_temp.critical {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#custom-cpu_temp.unknown {
  color: @surface2;
  border-bottom: 2pt solid @surface2;
}

#backlight {
  border-bottom: 2pt solid @yellow;
}

#custom-memory {
  border-bottom: 2pt solid #8ec07c;
}

#pulseaudio {
  border-bottom: 2pt solid #83a598;
}

#pulseaudio.muted {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#battery {
  border-bottom: 2pt solid @green;
}

#battery.critical {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#battery.critical,
#battery.charging.critical {
  color: @urgent;
  border-bottom: 2pt solid @urgent;
}

#battery.warning,
#battery.charging.warning {
  color: @maroon;
  border-bottom: 2pt solid @maroon;
}

#clock {
  border-bottom: 2pt solid @green;
}

#network {
  border-bottom: 2pt solid #b16286;
}

#mode,
#submap {
  color: #222222;
  border: 2pt solid #458588;
  background: #83a598;
  padding: 0 4.5pt;
}
